{% extends "partials/layout.njk" %}
{% block title %}form{% endblock %}
{% block content %}
<h3>Area</h3>
   A = πr <sup>2</sup><br>
   A = π{{ r }} <sup>2</sup><br>
   A = π{{ r*r }} <br>
   A = {{ a }} <br>
<h3>Circumference</h3>
   C = 2πr <br>
   C = π{{ 2*r }} <br>
   C = {{ c }} <br>
<h3>Volume</h3>
   V = 4/3πr <sup>3</sup> <br>
   V = 4/3π {{ r*r*r }} <br>
   V = π {{ 4/3 * r*r*r }} <br>
   V = {{ v }} <br>
{% endblock %}