{% extends "partials/layout.njk" %}
{% block title %}form{% endblock %}
{% block content %}
    <h1>Form</h1>
    {% if fname and lname and age %}
        <p> Hello {{ fname }} {{ lname }}! You are {{ age }} years old. </p>
    {% endif %}
    <form>
        <p>
            <label for="fname">First name <br> </label>
            <input id="fname" type="text" placeholder="First name" name="fname">
        </p>

        <p>
            <label for="lname">Last name <br> </label>
            <input id="lname" type="text" placeholder="Last name" name="lname">
        </p>

        <p>
            <label for="age">Age <br> </label>
            <input id="age" type="number" min="0" max="122" step="0.5" placeholder="Age" name="age">
        </p>

        <p>
            <input type="Submit" value="Submit">
        </p>

    </form>
{% endblock %}