{% extends "partials/layout.njk" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1> LILLED </h1>
    <h2> meie kui naised armasteme lilli </h2>
    <p>.</p>
    <p> package.jsonis on kõik allalaetud asjad, uues kohas tee npm i ja kõik olemas </p>
    <p> margaret olemas tark ^ </p>
{% endblock %}