{% extends "partials/layout.njk" %}
{% block title %}Add movie{% endblock %}
{% block content %}
 <form action="/movies/add" method="POST">

  <div class="mb-3">
     <label for="text" class="form-label">Movie name</label>
    <input id="text" class="form-control" type="text" placeholder="Movie name" name="movie">
  </div>

     <div class="mb-3">
      <label for="year" class="form-label">Movie year</label>
    <input id="year" class="form-control" type="number" placeholder="Movie year" name="year" value="{{movie.year}}">
    </div>

     <div class="mb-3">
      <label for="description" class="form-label">Movie description</label>
    <textarea id="description" class="form-control" name="description" placeholder="Movie description">{{movie.description}}</textarea>
    </div>

    <input class="btn btn-primary" type="submit" value="Add">
  </form>
{% endblock %} 